/* Registration Form Container */
.registration {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Header */
header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Input Fields */
.input-box {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

/* Submit Button */
.input-submit {
    text-align: center;
}

.submit-btn {
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Error and Success Messages */
.error, .success {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

/*Button za addCocktail na */
.add-recipe-button {
    margin: 20px;
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.add-recipe-button .btn:hover {
    background-color: #0056b3;
    text-decoration: none;
}
