*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    background: url('home.jpg') no-repeat center center/cover;
    flex-direction: column;
    margin: 0; 
    padding-top: 80px; 
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 4%;
    background-color: rgb(238, 231, 232);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    display: flex;
}
.navbar a {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3rem;
}
.icons {
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}
/*BREAKPOINTS*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }    
}
.logo-img {
    width: 50px; 
    height: auto;
    margin-left: 0; 
}
nav {
    margin-left: auto; /* premakni navigacijo na desno*/
}


/* Recepies */

/* Fullscreen home page section */
.home-page {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
    text-align: center;
    background: url('background.jpg') no-repeat center center/cover; 
}

.home-page h1 {
    font-size: 3rem;
    color: #333;
}

.home-page p {
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
}

/* Recepies Section */
.Recepies {
    padding: 40px 0;
    color: white;
    background-color: #d3d2c7;
    border-radius: 20px; 
    margin: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.recepies-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recepies-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    color:rgb(112, 109, 109); 
}

/* Recepies */
.Recepies {
    padding: 15px 0;
    margin: 50px;
    font-size: 20px;
}

.recepies-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.recepies-card {
    flex: 1 1 300px; 
    margin: 50px;
    text-align: center;
}

.recepies-card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 20px; 
}

.view-recepie-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: rgb(224, 159, 159);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.view-recepie-btn:hover {
    background-color: #000000;
}

/*Registration*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration {
    background-color: rgb(207, 183, 183);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 750px;
   
}

header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-box {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(222, 214, 139);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:#ccc;
}


/* Cocktail Cards Section */

.cocktail-card {
    display: flex; 
    align-items: flex-start;
    margin: 20px;
    max-width: 900px; 
    gap: 20px; 
}

/* Slika na koktelot */
.cocktail-card img {
    max-width: 250px; 
    height: auto; 
    border-radius: 10px; 
}

.cocktail-description {
    flex: 1; 
}

.cocktail-description h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.cocktail-description p {
    font-size: 1.2rem;
    color: #555;
}

h2 {
    margin-top: 30px; 
    color: #333; 
}

ul {
    list-style-type: none;
    padding: 0; 
}

li {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 15px 0; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
